@model Tuple<int, int, int>

<div class="panel panel-default topics">
    <div class="panel-heading">
        <h3 class="panel-title">Statistiques</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">membre de la communauté: @Model.Item1 </li>
        <li class="list-group-item">nombre de postes: @Model.Item2 </li>
        <li class="list-group-item">Nombre de réponses: @Model.Item3 </li>
    </ul>
</div>